<app-article-form (articleCreatedEvent)="addArticle($event)">FORM</app-article-form>

<div class="ui grid posts">
  <app-article
    *ngFor="let article of sortedArticles()"
    [article]="article"
    (articleDeletedEvent)="deleteArticle($event)">
  </app-article>
</div>

<br>
<h1>Carousel</h1>
<carousel
  [delay]="2000">
  <carousel-item>
    <img src="https://unsplash.it/200?image=0" alt="">
  </carousel-item>
  <carousel-item>
    <img src="https://unsplash.it/200?image=100" alt="">
  </carousel-item>
  <carousel-item>
    <img src="https://unsplash.it/200?image=200" alt="">
  </carousel-item>
</carousel>
